.table-container {
    overflow-y: auto;
}

  /* Define the custom-table class for styling */
  #custom-table {
    width: 75%; /* Set the table width to 75% of its container */
    border-collapse: collapse; /* Optional: Collapse borders between table cells */
  }
  .table-container {
    height: 60vh;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
  }
  
  .table-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }