
    <div class="container">
        <div class="advance">
            <div class="customerProfile">
                <div class="backgroundcolor">
                    <div class="panel-heading">
                        <h2 class="panel-title"
                            style="color:#fff;display: flex;text-align: center;justify-content: center;font-family: 'Times New Roman', Times, serif;">
                            Update Billing Cycle
                        </h2>
                    </div>
                    <form [formGroup]="form">

                    <div class="container">
                        
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Customer</mat-label>
                                    <mat-select  [(ngModel)]="CustomerId" [ngModelOptions]="{standalone: true}">
                                      <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                        {{ customer.shortName }}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field>
                                    <mat-label>Department</mat-label>
                                    <mat-select [(ngModel)]="DepartmentId" [ngModelOptions]="{standalone: true}">
                                      <mat-option [value]=1>Artwork</mat-option>
                                      <mat-option [value]=2>Digitizing</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" formControlName="billingDate" [(ngModel)]="billingDate"  placeholder="Billing Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                            </div>

                        </div>

                        <div class="row" style="float:right;">
                            <div class="col-6">
                                <button type="button" (click)="Update()" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

