<div class="main-body">
  <div class="container">
    <div class="mat-elevation-z8">
      <div class="table-container">
        <div class="fullform">
          <table mat-table [dataSource]="dataSource" matSort id="custom-table"
            class="table table-sm table-responsive table table-bordered text-center">
            <!--Checkbox to select the values-->
            <ng-container matColumnDef="selected">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Select </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let element"> <mat-checkbox
                  (change)="setAll($event.checked,element)"></mat-checkbox> </td>

            </ng-container>
            <!-- Job ID Column -->
            <ng-container matColumnDef="jobId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Job ID </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> <a style="color:#0aa4ec;cursor: pointer;"
                  (click)="getWorkflowJobList(job)">{{ job.jobId }}</a> </td>
            </ng-container>
            <!-- Job Name Column -->
            <ng-container matColumnDef="estjob">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> EST Job/Query Date  </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.estjobDate }} </td>
            </ng-container>
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Action  </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> <a style="color:#68b9de;font-family: 'Times New Roman', Times, serif;"
                  (click)="workFlowConversion()"> WorkFlow</a> </td>
            </ng-container>
            <!-- Client Column -->
            <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Client </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.shortName }} </td>
            </ng-container>
            <!-- Customer Satisfaction Column -->
            <ng-container matColumnDef="customerSatisfaction">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start">  Customer Satisfaction </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.customerClassification }} </td>
            </ng-container>
            <!-- File Name Column -->
            <ng-container matColumnDef="fileName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> File Name </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.fileName }} </td>
            </ng-container>
            <!-- File Inward Mode Column -->
            <ng-container matColumnDef="fileInwardMode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start">  File Inward Mode </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.fileInwardType}} </td>
            </ng-container>
            <ng-container matColumnDef="scope">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Scope </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.scopeDesc }} </td>
            </ng-container>
            <ng-container matColumnDef="jobstatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Job Staus </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.jobStatusDescription }} </td>
            </ng-container>
            <ng-container matColumnDef="projectcode">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Project Code </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.projectCode }} </td>
            </ng-container>
            <ng-container matColumnDef="allocatedby">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Allocated By </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.employeeName}} </td>
            </ng-container>
            <ng-container matColumnDef="processstatus">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Process Status </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.WorkStatus }} </td>
            </ng-container>
            <ng-container matColumnDef="esttime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Est Time </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.EstimatedTime }} </td>
            </ng-container>
            <ng-container matColumnDef="jobcategeory">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Job Category </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.JobCategoryDesc }} </td>
            </ng-container>
            <ng-container matColumnDef="deliverydate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <div class="header-wrapper">
                  <div class="department-name text-start"> Delivery Date </div>
                  <div class="filter-input">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
                  </div>
                </div>
              </th>
              <td mat-cell *matCellDef="let job"> {{ job.DateofDelivery }} </td>
            </ng-container>
            <!-- Table Header -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <!-- Table Rows -->
            <tr mat-row *matRowDef="let job; columns: displayedColumns;" else noData></tr>
            <ng-template #noData>
              <tr>
                <td colspan="2" class="no-data-cell">No Data Available</td>
              </tr>
            </ng-template>
          </table>
          
        </div>
        
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[25, 50,75,100]" aria-label="Select page of users"></mat-paginator>
        <div class="scope" style="display:flex;justify-content: center;" *ngIf="displayScopeDropdown">
          <mat-form-field>
            <mat-label>Scope</mat-label>
            <mat-select [(value)]="selectedScope">
              <mat-option *ngFor="let item of scopes" [value]="item.Id">
                {{ item.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
</div>